<div class="form-header-wrapper">

    <h1>MakeDay</h1>

    <div class="dropdown">
        <div class="select dropdown-btn list-style">
            <span class="selected"><img src="icons/EN-flag.png" alt="U.S.A flag">EN</span>
            <div class="caret"></div>
        </div>
        <ul class="menu-drop" style="display: none;">
            <li class="list-style"><img src="icons/PT-BR-flag.png" alt="Brazil flag">PT-BR</li>
            <li class="active"><img src="icons/EN-flag.png" alt="U.S.A flag">EN</li>
        </ul>
    </div>

</div>