<div class="wrapper-error" id="error-card">

    <img src="icons/error.png" alt="error signal">
    <span id="error-msg">Unknown error</span>

    <div class="error-bar">
        <div class="grow-error-bar"></div>
    </div>

</div>