<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome back. Log in to your account to stay ahead with MakeDay.">
    <meta name="author" content="EDUDESTROER">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/login-styles.min.css">
    <link rel="stylesheet" href="fontwesome/css/all.min.css">
    <link rel="shortcut icon" href="icons/MakeDay_Icon.png" type="image/x-icon">
    
</head>
<body>
    
    <%- include("wall-sing-in-up") -%>

    <main class="wrapper-main">

        <%- include("side-error") -%>

        <%- include("form-header") -%>