<aside class="photo-wrapper">

    <div class="photo-header">

        <h2 class="basic-shadow-size1">Let's Make your Day Better!</h2>

        <div class="photo-buttons-wrapper">
            <button id="btn-redirect-login" class="btn-login-page list-style" type="button">Sign In</button>
            <button id="btn-redirect-register" class="btn-login-page select list-style" type="button">Sign Up</button>
        </div>

    </div>

    <div class="massages-wrapper">
        <div class="massages-content massage-active basic-shadow-size1" id="msg-1"><span class="typewrite-config typewrite-animation-msg-1">Organize your tasks your way!</span></div>
        <div class="massages-content basic-shadow-size1" id="msg-2"><span class="typewrite-config">Boost your productivity with AI!</span></div>
        <div class="massages-content basic-shadow-size1" id="msg-3"><span class="typewrite-config">Set reminders so you never forget what matters most!</span></div>
        <div class="massages-content basic-shadow-size1" id="msg-4"><span class="typewrite-config">Achieve your best with the help of your AI assistant!</span></div>
    </div>

    <div class="slide-bar-wrapper">
        <button disabled type="button" class="slide-bars slide-active buttons-basic-efects" id="slide-1"></button>
        <button type="button" class="slide-bars buttons-basic-efects" id="slide-2"></button>
        <button type="button" class="slide-bars buttons-basic-efects" id="slide-3"></button>
        <button type="button" class="slide-bars buttons-basic-efects" id="slide-4"></button>
    </div>

</aside>