<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Organize your life here, with the best in technology.">
    <meta name="author" content="EDUDESTROER">
    <title>MakeDay - Become your best!</title>
    <link rel="stylesheet" href="css/index-styles.min.css">
    <link rel="shortcut icon" href="icons/MakeDay_Icon.png" type="image/x-icon">
    
</head>
<body>
    <header>
        
        <div id="bg-florest"></div>
        
        <div class="glass-card">
            <img draggable="false" src="icons/MakeDay_Icon.png" alt="MakeDay icon">
            <h1>MakeDay</h1>
        </div>
        <div>
            <p id="title-p" class="typewrite-config typewrite-animation-v1 basic-shadow">Take the next step toward an organized life like never before...</p>
        </div>

    </header>
    <main>
        <section id="section-1" class="sections">
            <div class="partition"></div>
            <div class="box-wrapper glass-card">
                <div class="box-header">
                    <img draggable="false" height="10px" src="icons/MakeDay_Icon_Conplete.png" alt="Stay Ahead icon">
                    <h3 class="basic-shadow"><span class="typewrite-config typewrite-animation-t1">Stay Ahead</span></h3>
                </div>
                <div class="wrapper-phrases">
                    <p class="basic-shadow top-list">Unlock powerful AI tools to boost your performance.</p>
                    <p class="basic-shadow main-list">Track your personal or team progress.</p>
                    <p class="basic-shadow bottom-list">Learn from your mistakes, improve your writing, and refine your ideas with AI.</p>
                </div>
            </div>
        </section>
        <section id="section-2" class="sections">
            <div class="partition"></div>
            <div class="box-wrapper glass-card">
                <div class="box-header">
                    <img draggable="false" height="10px" src="icons/MakeDay_Icon_inProgress.png" alt="Stay Ahead icon">
                    <h3 class="h3-small basic-shadow"><p class="typewrite-config typewrite-animation-t2">Work at your own pace.</p></h3>
                </div>
                <div class="wrapper-phrases">
                    <p class="basic-shadow top-list">Stay organized with smart reminders.</p>
                    <p class="basic-shadow main-list">Be one step ahead of the unexpected.</p>
                    <p class="basic-shadow bottom-list">Your personal AI assistant—just for you.</p>
                </div>
            </div>
        </section>
        <section id="section-3" class="sections">
            <div class="partition"></div>
            <div class="box-wrapper glass-card">
                <div class="box-header">
                    <h3 class="h3-small basic-shadow"><p class="typewrite-config typewrite-animation-t3">Your journey starts now!</p></h3>
                </div>
                <div class="button-wrapper">
                    <button class="buttuns-purple-style" id="btn-register">Register</button>
                    <button class="buttuns-purple-style" id="btn-login">Login</button>
                </div>
            </div>
        </section>
    </main>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="js/effects/IndexEffectsController.js"></script>
<script src="js/controller/IndexRedirectController.js"></script>

</html>