<%- include("inc/sing-in-up-head") -%>

        <div class="login-wrapper">

            <div class="text-wrapper">

                <h2>Welcome!</h2>
                <span>Get started for free today!</span>

            </div>

            <div class="login-with-wrapper">

                <button id="btn-login-with-google" class="btn-login-page buttuns-purple-style" type="button"><img src="icons/google-icon.png" alt="google icon"> <span>Login with Google</span></button>
                <button id="btn-login-with-apple" class="btn-login-page buttuns-purple-style" type="button"><img src="icons/apple-icon.png" alt="apple icon"> <span>Login with Apple</span></button>

            </div>

            <%- include("inc/or") -%>

            <div class="login-us-wrapper">

                <div class="inputs-wrapper">

                    <i class="fa-solid fa-user" aria-hidden="true"></i>
                    <input id="input-username" type="text" placeholder="Email or Username">

                </div>
                <div class="inputs-wrapper">

                    <i class="fa-solid fa-lock" aria-hidden="true"></i>
                    <input id="input-password" type="password" placeholder="Password" value="">

                </div>

                <div class="forgot-password-wrapper">

                    <a href="/reset-password">Forgot password?</a>

                </div>

                <div class="btn-login-wrapper">

                    <button class="btn-login-page buttuns-purple-style" id="btn-login">Login</button>

                </div>

                <div class="sing-in-text-wrapper">

                    <span>Don’t have an account? <a href="/register">Sing Up</a></span>

                </div>

            </div>

            <div class="follow-us-wrapper">

                <button class="btn-login-page buttuns-purple-style" id="btn-facebook"><i class="fa-brands fa-facebook"></i></button>
                <button class="btn-login-page buttuns-purple-style" id="btn-instagram"><i class="fa-brands fa-instagram"></i></button>
                <button class="btn-login-page buttuns-purple-style" id="btn-linkedin"><i class="fa-brands fa-linkedin"></i></button>
                <button class="btn-login-page buttuns-purple-style" id="btn-x"><i class="fa-brands fa-square-x-twitter"></i></button>

            </div>

        </div>

<%- include("inc/footer-in-up") -%>