*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;

}
body{

    background-color: #1B1C3A;
    height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.wrapper{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
#svg-wrapper{

    max-width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#svg-wrapper svg{

    max-width: 100%;
    max-height: 100%;

}
.text-wrapper{

    color: #8C0001;
    position: absolute;
    top: 100%;
    animation: flick 800ms ease infinite;

}

@keyframes flick {

    from {

        text-shadow: 0px 0px 0px #000

    }

    to {
        text-shadow: 0px 0px 4px #000;
    }

}
@media (min-width: 768px){

    .wrapper{

        height: 40%;

    }
    .text-wrapper{

        font-size: 1.5rem;

    }

}